@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
:root{
    /* Declarations des variables pour les couleurs*/
    --my-color-gris : #f3f5f8;
    --my-color-gris-fonce: #3d535f;
    --my-color-jaune: #ffe800;

}

*{
    /* Enleve les choses inutiles (soulignement etc..) */
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--my-color-gris);
}

.entete{
    /* Fixe l'entete en haut */
    position: fixed;
    top: 0;


    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;

}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: var(--my-color-gris-fonce);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}